@charset "UTF-8";

.protest-guerrilla-regular {
  font-family: "Protest Guerrilla", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.suse-  {
  font-family: "SUSE", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
    font-family: "Protest Guerrilla", 'SUSE', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    background-color: #f4f4f4;
    text-align: center;
    padding-bottom: 8rem;
    position: relative;
}


body::before {
    content: "";
    position: fixed; /* Ensures it stays relative to the viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Ensures it covers the entire viewport */
    background-image: url('bbunny.JPG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.3;
    z-index: -1;
}


#header {
    display: flex;
    height: 16rem;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 50px;
    
}

#wotd {
    font-size: 5vw;
    margin: 0;
    font-family: "Protest Guerrilla", 'SUSE', sans-serif;
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#logo {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-right: 20px;
    text-shadow: 0 4px 8px rgba(0,0,0,0.5);
}

#quote-container {
    max-width: 300px;
    font-size: 1.5em;
    text-align: right;
    line-height: 1.5;
    color: black;
    text-shadow: 0 4px 8px rgba(0,0,0,0.5);
    transition: opacity 1s ease-in-out;
	font-family: 'SUSE', Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}

#get-word-btn {
    padding: 10px 20px;
    background-color: #007bff;
	font-family: 'SUSE', Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    margin-top: 20px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}

#word-container {
    padding: 20px;
    border: 2px solid #007bff;
    border-radius: 10px;
    background-color: #fff;
    display: none;
    cursor: pointer;
    max-width: 300px;
    margin-top: 20px;
    position: relative;
}

#word-container .speaker-icon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    cursor: pointer;
    margin-left: 10px;
}

#open-space {
    height: 50px;
    padding-top: 50px;
    padding-bottom: 20px;
}

#open-space p {
	font-family: "SUSE", "Protest Guerrilla";
	font-size: 40px;
	font-weight: 400;
}



footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    color: black;
    text-align: center;
    box-sizing: border-box;
    background-color: white;
	
}

footer a {
    color: blue;
    margin: 0 10px;
    text-decoration: none;
}

footer p {
    margin-top: 10px;
    font-size: 0.9em;
}



@keyframes fall-in {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animated {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 5vw;
}

.animated span {
    display: inline-block;
    opacity: 0;
    animation: fall-in 1s ease forwards;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    padding-left: 20px;
}

@media (min-width: 1024px) {
    .animated {
        font-size: 6vw;
    }
}

@media (max-width: 768px) {
    #header {
        flex-direction: column;
        align-items: center;
    }
	
	#header h1 {
		padding-right: 1em;
	}

    #wotd {
        font-size: 10vw;
        margin: 10px 0;
    }

    #logo {
        margin: 0 0 10px 0;
		padding-right: 10px;
    }

    #quote-container {
        font-size: 1em;
        text-align: center;
        max-width: 100%;
    }

    #get-word-btn {
        font-size: 1em;
    }

    #word-container {
        max-width: 100%;
    }
	
	#open-space {
		margin-bottom: 1rem;
	}
	
	#open-space p {
		font-size: 2em;
		
	}
	
}
